@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;800&display=swap");

/* Reset settings */
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0 10px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
a:visited {
  color: inherit;
}
img {
  object-fit: cover;
}

h1 {
  font-size: 20px;
}
h4 {
  margin-bottom: 5px;
}

input {
  border: none;
}
input:focus {
  outline: none;
}

/* Début de header */

.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin-left: 20px;
  padding-top: 40px;
}
.logo img {
  width: 50%;
}
.menu {
  display: flex;
  min-width: 20%;
}
.menu__item {
  width: 50%;
  text-align: center;
  padding-top: 40px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}
.menu__item:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
}
/* Fin de header */

/* Début de barre de recherche */

.searchbar .searchbar__title {
  margin-bottom: 15px;
}

.searchbar .searchbar__title p {
  font-size: 15px;
  margin-top: -10px;
}
.searchbar__form {
  display: flex;
  align-items: center;
  max-width: 30%;
}
.searchbar .searchbar__form .dot {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  border-radius: 10px 0 0 10px;
}
.searchbar .searchbar__form input {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 10px;
  font-weight: 800;
}
.searchbar .searchbar__form .searchbar__form--button.glass {
  visibility: hidden;
}
.searchbar .searchbar__form .searchbar__form--button.search {
  border-radius: 0 10px 10px 0;
  padding: 10px;
  position: relative;
  right: 20px;
}
.searchbar .searchbar__form .searchbar__form--button {
  background-color: #0065fc;
  color: white;
  border: 1px solid #0065fc;
  cursor: pointer;
}
.filters {
  display: flex;
  flex-direction: column;
}
.filters .filters__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px 0;
  /* font-size: 12px; */
}
.filters .filters__container .filters__title {
  margin-right: 20px;
}
.filters .filters__container .filters__items {
  display: flex;
  flex-wrap: wrap;
}
.filters .filters__container .filters__items .filter {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.filters .filters__container .filters__items .filter .filter__name {
  border: 2px solid #f2f2f2;
  border-left: none;
  border-radius: 0 50px 50px 0;
  padding: 10px 10px 10px 35px;
  position: relative;
  right: 25px;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.filters .filters__container .filters__items .filter .filter__name:hover {
  color: #0065fc;
  background-color: #deebff;
}
.filters .filters__container .filters__items .filter .filter__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border: 2px solid #deebff;
  background-color: #deebff;
  color: #0065fc;
  border-radius: 100%;
  padding: 11px;
  z-index: 2;
  cursor: pointer;
}
.filters .filters__infos {
  display: flex;
  align-items: center;
}
.filters .filters__infos .filters__infos--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  border-radius: 100%;
  margin-right: 10px;
  height: 20px;
  width: 20px;
  font-size: 12px;
  padding: 2px;
}
.filters .filters__infos .filters__infos--text {
  font-size: 15px;
}
/* Fin de barre de recherche */

/* Partie hotels */
.hotels {
  margin: 30px 0;
  display: flex;
  justify-content: space-between;
}
.hotels .housing .housing__title h1,
.hotels .popular .popular__title h1 {
  margin-bottom: 30px;
}
/* Partie hébegements */
.hotels .housing {
  background: #f2f2f2;
  border-radius: 20px;
  width: 60%;
  padding: 30px;
}
.hotels .housing .housing__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}
.hotels .housing .housing__cards .card {
  width: 30%;
  height: 200px;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px lightgrey;
  transition: all 150ms ease-in-out;
}
.hotels .housing .housing__cards .card:hover {
  transform: scale(1.05);
}
.hotels .housing .housing__cards .card .card__img {
  height: 60%;
  width: 100%;
}
.hotels .housing .housing__cards .card .card__img img {
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.hotels .housing .housing__cards .card .card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}
.hotels .housing .housing__cards .card .card__text .card__text--description {
  padding: 5px;
}
.hotels .housing .housing__cards .card .card__text .card__text--rating {
  padding: 5px;
  color: #0065fc;
}
.hotels .housing .housing__cards .card .card__text .card__text--rating .grey {
  color: grey;
}

.hotels .popular {
  background: #f2f2f2;
  border-radius: 20px;
  width: 27%;
  padding: 30px;
}
.hotels .popular .popular__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hotels .popular .popular__cards {
  display: flex;
  flex-direction: column;
}
.hotels .popular .popular__cards .card a {
  width: 100%;
  height: 150px;
  display: flex;
  border-radius: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background-color: white;
  box-shadow: 2px 2px 5px lightgrey;
  transition: all 150ms ease-in-out;
}
.hotels .popular .popular__cards .card a:hover {
  transform: scale(1.05);
}
.hotels .popular .popular__cards .card .card__img {
  height: 100%;
  width: 35%;
}
.hotels .popular .popular__cards .card .card__img img {
  height: 100%;
  width: 100%;
  border-radius: 20px 0 0 20px;
}
.hotels .popular .popular__cards .card .card__text {
  height: 100%;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.hotels .popular .popular__cards .card .card__text .card__text--description {
  padding: 20px;
}
.hotels .popular .popular__cards .card .card__text .card__text--rating {
  padding: 10px 20px;
  color: #0065fc;
}
.hotels .popular .popular__cards .card .card__text .card__text--rating .grey {
  color: grey;
}
.activities {
  display: flex;
  flex-direction: column;
}
.activities .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.activities .cards .card__large,
.activities .cards .card__double .card__double--max,
.activities .cards .card__double .card__double--min,
.activities .cards .card__double--even {
  border-radius: 20px;
  box-shadow: 2px 2px 5px lightgray;
}
.activities .cards .card__large,
.activities .cards .card__double {
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 400px;
}
.activities .cards .card__double {
  justify-content: space-between;
}
.activities .cards .card__large .image {
  height: 360px;
}
.activities .cards .card__double .card__double--max .image {
  height: 180px;
}
.activities .cards .card__double .card__double--min .image {
  height: 100px;
}
.activities .cards .card__double .card__double--even .image {
  height: 140px;
}
.activities .cards .card__large .image img,
.activities .cards .card__double .card__double--max .image img,
.activities .cards .card__double .card__double--min .image img,
.activities .cards .card__double .card__double--even .image img {
  width: 100%;
  height: 100%;
  border-radius: 20px 20px 0 0;
}
.activities .cards .card__large .text,
.activities .cards .card__double .card__double--max .text,
.activities .cards .card__double .card__double--min .text,
.activities .cards .card__double .card__double--even .text {
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.text h4 {
  margin: 0;
}
